* {
    margin: 0;
}

body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;
    

}

.box {
    background-color: #1f2937;
    width: 100wv;
  
}

.logo {
    color: white;
    font-size: 24px;
}

.nav {
    color: white;
}

ul {
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 18px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100wv;
}




.hero-content {
    display: flex;
    justify-content: center;
    width: 100wv;
    color: white;
    margin-top: 100px;
    width: 100wv;
    flex-wrap: wrap;
    gap: 130px;
    padding-bottom: 50px;
    
    
    

}

img {
    width: 650px;
    margin: 0;
    flex-shrink: 1;
}

.hero-left {
    max-width: 500px;
    margin: 0;
    width: 2750px;

}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 30px;


}

.hero-text {
    max-width: 460px;
    font-size: 18px;
    margin-bottom: 40px;
}

button {
    background-color: #3882f6;
    border: none;
    color: white;
    padding: 8px 25px;
    border-radius: 8px;
}

button:hover {
    background-color: #b4cef8;
}