* {
    margin: 0;
    max-width: 1920px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    

}

.logo {
    color: white;
    font-size: 24px;
    padding-right: 90px;
}

.nav {
    color: white;
}

ul {
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 18px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1920px;
    background-color: #1f2937;
    
}

.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    height: 400px;
    color: white;
    padding: 0;
    background-color: #1f2937;
    flex-wrap: wrap;
    
    
}

img {

    margin: 0;
    width: 550px;
   

}

.hero-left {
    max-width: 500px;
    margin: 0;
    width: 305px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;

}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 30px;

}

.hero-text {
    max-width: 460px;
    font-size: 18px;
    margin-bottom: 40px;
}

button {
    background-color: #3882f6;
    border: none;
    color: white;
    padding: 8px 25px;
    border-radius: 8px;
}

button:hover {
    background-color: #b4cef8;
}

.mid-container {
    max-width: 1920px;
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.picture-four,
.picture-one,
.picture-three,
.picture-two {
    width: 200px;
    height: 200px;
    border: solid #3882f6 3px;
    margin: 0;
    border-radius: 10px;

}

.random-info {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    justify-content: center;
    margin: 80px;
}

.pic-subtext {
    text-align: center;
    width: 200px;
    font-size: 18px;
    margin-top: 8px;
}

.gray-container {
    height: 430px;
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.gray-one {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    width: 800px;
}

.gray-two {
    color: #1f2937;
    font-size: 28px;
    margin-left: 450px;
}

.white-box {
    height: 300px;
    max-width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-container {
    width: 800px;
    height: 150px;
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.modal-left {
    color: white;
    font-size: 18px;
}

.dif-button {
    border: solid 2px white;
}

.footer-container {
    height: 100px;
    max-width: 1920px;
    background-color: #1f2937;
    display: flex;
    color: #e5e7eb;
    justify-content: center;
    align-items: center;
}
